<html>
    <head>
        <title>Utec dbp10</title>
    </head>
    <body>

        <form action="/create" method="POST">
            <div>
                <label for="description">Description: </label>
                <input type="text" name="description">
            </div>
            <div>
                <input type="submit" id="submit" value="Submit">
            </div>
        </form>



        <ul>
            {% for d in data %}
                <li>{{d.description}}</li>
            {% endfor %}
        </ul>
    </body>
</html>